body {
font-family: 'Acme', sans-serif;
font-size: 0.9rem;
}

.row {
  margin-bottom: 2rem;
}

.jumbotron {
  padding: 0.2rem;
  margin-bottom: 3rem;
  background-color: #2E294E;
  color: white;
}

h2, h3, h4, h5 {
  color: #4d3c60;
  font-weight: bold;
  line-height: 1.5;
}

.sunrisepic {
  width: 65%;
}

.sunsetpic {
  width: 65%;
}

.sunriseBox {
  margin-bottom: 2rem;
}

.sunsetBox {
  margin-top: 1rem;
  padding-bottom: 2rem;
}

#weather {
  margin: auto;
  margin-top: 1.5rem;
  background-color: #FBFAFC;
  padding: 1rem;
}

#forecast {
  margin: auto;
  margin-top: 1.5rem;
  background-color: #FBFAFC;
  padding: 1rem;
}

.footer {
  background-color: #2A2647;
  color: white;
  height: 60px;
  padding: 20px 0 0 0;
}

.errorMessage {
  font-size: 20px;
  text-align: center;
  margin: auto;
}

.table-active {
  margin: 0;
}

.stripe:nth-child(1n) {
    background: #F9F8FA;
}

.stripe2:nth-child(1n) {
    background: #F9F8FA;
    color: #680E4B;
}

.btn-primary {
  outline: none;
  border: 2px solid #3F386B;
  background-color: white;
  width: 40%;
  padding: 10px;
  color: #1A172B;
  transition: background-color 0.5s;
  cursor: pointer; }
  .btn:hover, .btn-primary:hover {
    background-color: #3F386B;
    color: white;
    border-color: #3F386B; }

.form-control {
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 60%;
  outline: none;
  border: none;
  border-bottom: 2px solid #820263;
  padding: 12px 8px;
  border-radius: 0rem; }
  &.focus{

  }
  .form-control:focus {
    color: #4d3c60;
    background-color: #F8F5F9;
    border-color: #820263;
    border-radius: 0 15px 0 0;
  }
  .form-control:focus::-webkit-input-placeholder {
    transition: text-indent 0.3s 0.1s ease-in;
    text-indent: -70%;
    opacity: 1; }
  .form-control [type=text] {
    text-indent: 1; }
